<table class="table">
  <thead>
    <tr>
      <% @csv_headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @csv_rows.each do |columns| %>
      <tr>
        <% columns.each do |column| %>
          <td><%= column %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>